<form method = "POST" enctype=multipart/form-data>

<div class="container text-secondary">
  <div class="row">
    <div class="col-lg-6">
      <div>
      <section class="mt-3 ml-5">
        <br>
        <b><label>Type of item</label></b>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Clothing
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Accessories
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Handmade
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Stationery
          </label>
        </div>
      </div>
      <div class="form-check ml-5">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Something else
        </label>
      </div>
      </section>

      <section class="mt-2 ml-5 ">
          <div class="form-row ">
            <div class="col-md-4 mb-1">
              <b><label for="validationTooltip01">Name</label></b>
              <input type="text" class="form-control w-300" name="name" id="validationTooltip01" value="{{user_name}}" placeholder="Khau Tu">
              <div class="valid-tooltip">
              </div>
            </div>
      </section>

        <section class="mt-2 ml-5">
            <div class="form-row">
              <div class="col-md-4 mb-1">
                <b><label for="validationTooltip01">Phone</label></b>
                <input type="text" class="form-control w-300" name="phone" id="validationTooltip01" placeholder="phone" required>
                <div class="valid-tooltip">
                </div>
              </div>
        </section>

        <section class="mt-2 ml-5">
            <div class="form-row">
              <div class="col-md-4 mb-1">
                <b><label for="validationTooltip01">Address</label></b>
                  <input type="text" class="form-control w-300" name="address" id="validationTooltip01" placeholder="Ba Dinh, Ha Noi"  required>
                  <div class="valid-tooltip">
                </div>
              </div>
        </section>

        <section class="mt-2 ml-5">
            <div class="form-row">
              <div class="col-md-4 mb-1">
                <b><label for="validationTooltip01">Price (VND)</label></b>
                  <input type="text" class="form-control w-300" name="price" id="validationTooltip01" placeholder="50.000 VND" >
                  <div class="valid-tooltip">
                </div>
              </div>
        </section>

        </div>

    <div class="col-lg-6">
  <div class="input-group mb-3">
</div>
<b><label for="validationTooltip01" class="mt-25">Upload image<label></b>
<div class="custom-file">
<input type="file" name ='file1'>
</div>
<div class="input-group mb-3">
</div>
<div class="custom-file">
<input type="file" name = 'file2'>
</div>
<div class="input-group mb-3">
</div>
<div class="custom-file">
<input type="file" name = 'file3'>
</div>

<br>
<br>

<section class="mt-2">
    <div class="form-row mt--30">
      <div class="col-md-4 mb-1">
        <b><label for="validationTooltip01">Title</label></b>
        <input type="text" class="form-control w-300" name="title" id="validationTooltip01" placeholder="Product name" required>
        <div class="valid-tooltip">
        </div>
      </div>
</section>

<b><label for="validationTooltip01">Story</label></b>
<textarea type="text" class="form-control w-540 h100" name="story" id="validationTooltip01" required> </textarea>

<button type="submit" value="upload" class="btn btn-light text-danger border border-danger mt-4 font-lobster">Set it free</button>
<a href="{{url_for('homepage')}}"></a>
</div>
</div>
</div>


</form>
