<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    {% include "meta-data.html"  %}
    <title>Welcome to MFS</title>
  </head>
  <body>
    
    {% include "homepage/navi-user.html" %}

    <div class="card-columns m-3">
      {% for item in all_items %}

      <div class="card bg-white border border-white">
        <img class="rounded border border-secondary" src= "static/media/{{item.image[0]}}" alt="" style="width: 100%;">
        <div class="row">
          <div class="col-12 col-md-8 text-danger font-weight-bold"> {{ item.title }} </div>
          <div class="col-6 col-md-4 text-secondary font-weight-bold">
            <button type="button" class="btn btn-link" data-toggle="modal" data-target=".bd-example-modal-lg">
              ...
            </button>
          </div>
        </div>

          {% include "homepage/popup-item.html"  %}
        </div>
      {% endfor %}
    </div>
    </body>
</html>
