<div class="container justify-content-center border border-danger rounded w-25 m-5">
  <div class="col">
    <div class="row d-flex justify-content-center mt-5">
      <i class="fas fa-heartbeat text-danger fa-3x"></i>
    </div>
    <div class="row d-flex justify-content-center">
      <h3>Welcome to</h3>
    </div>
    <div class="row d-flex justify-content-center font-lobster text-danger">
      <h3> <a href="#" class="font-weight-bold text-danger"> Memories for Sale</a></h3>
    </div>
    <div class="row d-flex justify-content-center m-5">
      <button type="button" class="btn btn-primary font-weight-bold"><i class="fab fa-facebook-f"></i> Sign-in with Facebook</button>
    </div>
    <div class="row d-flex justify-content-center m-5">
      <span class="w-100">Thông qua việc Sign-in, bạn đồng ý với <span class="font-weight-bold"> Điều khoản Dịch vụ, Chính sách Quyền riêng tư</span> của Memories for Sale</span>
    </div>
  </div>
</div>
