<nav id="navbar-example2" class="navbar navbar-light bg-light rounded">
<a class="navbar-brand" href="#">
  <div class="btn-group-toggle rounded" data-toggle="buttons">
    <label class="btn btn-secondary active bg-light border border-white">
      <input type="checkbox" checked autocomplete="off"> <i class="fas fa-heart text-danger"></i>
      <span class="text-danger">9</span>
    </label>
  </div>
</a>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link font-weight-bold" href="#fat">@Story</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#mdo">@Author</a>
  </li>
</ul>
</nav>
<div data-spy="scroll" data-target="#navbar-example2" data-offset="0" style="height:200px; overflow-y: scroll;">
<h4 id="fat">Story</h4>
<p>{{item.story}}</p>
<h4 id="mdo">Author</h4>
<p>{{item.name}}</p>
</div>
